<h1>Welcome to the Salon</h1>

<p>Create a new Stylist:</p>

<form action="/stylists" method="post">
  <label for="name">Name of Stylist:</label>
  <input id="name" name="name" type="text">
  <label for="hours">Stylists hours:</label>
  <input id="hours" name="hours" type="text">

  <button type="submit">Add Stylist</button>
</form>

<a href="/stylists">View All Styists</a>
